html, body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

.node {
  width: 100%;
  width: 100vw;
  height: 100px;
  height: 50vh;
  text-align: center;
  line-height: 100px;
  line-height: 50vh;
  font-size: 5rem;
  color: #F5F5F5;
  box-sizing: border-box;
  
}

#node1 {
  background-color: #11195B;
}

#node2 {
  background-color: #145265;
}

#events {
  padding: 5px;
  font-size: 1rem;
}

button {
  position: fixed;
  right: 10px;
  top: 10px;
}